## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [7]:
from time import gmtime, strftime
strftime("%Y-%m-%d %H:%M:%S",gmtime())

'2022-08-09 23:23:07'

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [10]:
def area_of_circle(radius):
    pi = 3.14
    return pi * radius

area_of_circle(2)

6.28

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [2]:
def have_duplicates(input_list):
    dup_list = set(input_list)
    if len(input_list) == len(dup_list):
        return True
    else:
        return False
print(have_duplicates([2,4,5,5,7,9]))
print(have_duplicates([1,2,3]))
print(have_duplicates([]))

False
True
True

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'lil-wayne.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '"': 8, "'": 3, '—': 1}`

In [46]:
characters ={}
import os
filename = os.path.join(os.getcwd(),"data")
path = open(filename + '/lil-wayne.txt', mode='r')
file = path.read()
file = file.upper()

for keys in range(len(file)):
    if file[keys] not in characters:
        characters.update({file[keys]:1})
    else:
        values = characters.get(file[keys])
        characters.update({file[keys]:values+1})
print(characters.items())

dict_items([('D', 74), ('W', 63), ('A', 211), ('Y', 44), ('N', 165), ('E', 274), (' ', 522), ('M', 77), ('I', 185), ('C', 60), ('H', 122), ('L', 126), ('R', 152), ('T', 180), ('J', 8), ('.', 26), ('(', 12), ('B', 59), ('O', 145), ('S', 152), ('P', 39), ('2', 24), ('7', 7), (',', 37), ('1', 28), ('9', 16), ('8', 6), (')', 12), ('[', 14), (']', 14), ('K', 13), ('F', 44), ('G', 53), ('X', 5), ('U', 66), ('V', 20), ('3', 2), ('4', 4), ('5', 5), ('6', 3), ('0', 36), ('\n', 6), ('-', 6), (';', 1), ('!', 1), ('Â', 1), ('€', 1), ('”', 1)])

# 4.5 Figure out how to sort the dictionary to find which character appears the most.

In [84]:
keylist = []
for key , value in characters.items():
    keylist.append([key,value])

    
length = len(keylist)
for i in range(length):
    for j in range(i,length):
        if keylist[i][1] < keylist[j][1]:
            keylist[i] , keylist[j] = keylist[j] , keylist[i]
print(keylist)

[[' ', 522], ['E', 274], ['A', 211], ['I', 185], ['T', 180], ['N', 165], ['R', 152], ['S', 152], ['O', 145], ['L', 126], ['H', 122], ['M', 77], ['D', 74], ['U', 66], ['W', 63], ['C', 60], ['B', 59], ['G', 53], ['Y', 44], ['F', 44], ['P', 39], [',', 37], ['0', 36], ['1', 28], ['.', 26], ['2', 24], ['V', 20], ['9', 16], [']', 14], ['[', 14], ['K', 13], ['(', 12], [')', 12], ['J', 8], ['7', 7], ['8', 6], ['\n', 6], ['-', 6], ['5', 5], ['X', 5], ['4', 4], ['6', 3], ['3', 2], [';', 1], ['!', 1], ['Â', 1], ['€', 1], ['”', 1]]

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [87]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]
fourth = list1.pop(3)
list1.append(fourth*list1[-1])
print(list1)

[1, 1, 2, 5, 8, 13, 21, 63]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [88]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
new_list = []
for i in range(len(original_list)):
    if original_list[i] % 3 == 0:
        new_list.append(original_list[i])
print(new_list)

[3, 6, 9, 15, 21]

## #7 Reverse the list below

In [92]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
original_list.reverse()
print(original_list)

[21, 19, 15, 9, 8, 6, 3, 2]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [94]:
original_list = [1, 2, 3, 4, 5, 6, 7]
new_list = []
for num in range(len(original_list)):
    new_list.append(original_list[num]*original_list[num])
print(new_list)

[1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [95]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list2.reverse()
for i in range(len(list1)):
    print(list1[i],list2[i])

10 400
20 300
30 200
40 100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [96]:
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']
while '' in list_of_strings:
    list_of_strings.remove('')
print(list_of_strings)

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [97]:
sample_dict = {'a': 100, 'b': 999, 'c': 300}
if 999 in sample_dict.values():
    print('True')
else:
    print('False')

True

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [152]:
import pandas as pd
df = pd.read_csv(filepath_or_buffer ='data/titanic.csv')
df.head()

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [142]:
average = df['age'].mean()
print(average)

29.699117647058323

## What was the oldest and youngest ages on the titanic?

In [151]:
sort = df.sort_values('age')
sort.head()

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,29.699118,1,0,A/5 21171,7.250,NaN,S
587,588,1,1,"Frolicher-Stehli, Mr. Maxmillian",male,29.699118,1,1,13567,79.200,B41,C
588,589,0,3,"Gilinski, Mr. Eliezer",male,29.699118,0,0,14973,8.050,NaN,S
589,590,0,3,"Murdlin, Mr. Joseph",male,29.699118,0,0,A./5. 3235,8.050,NaN,S
590,591,0,3,"Rintamaki, Mr. Matti",male,29.699118,0,0,STON/O 2. 3101273,7.125,NaN,S

## How many people embarked from station 'S'?